<!-- footer --> 
<!--
<div style="font-size: 0.8em; text-align: center; margin-top: 1em; margin-bottom: 1em;">
<p>   
    <a href="http://validator.w3.org/check?uri=referer"><img
        src="/images/valid-xhtml11-blue.png"
        alt="Valid XHTML 1.1" height="31" width="88" />
    </a>   
    &nbsp;
    <a href="http://jigsaw.w3.org/css-validator/check/referer">
        <img style="border:0;width:88px;height:31px"
        src="/images/vcss-blue.gif"
        alt="Valid CSS!" />
    </a>	
</p>
</div>
-->


<div style="font-size: 0.8em; text-align: center; margin-top: 1em; margin-bottom: 1em;color: #00008B">
Copyright &copy;&nbsp;2008-2019 John Cheetham
</div>

<div style="font-size: 0.8em; text-align: center; margin-top: 1em; margin-bottom: 1em;">
<a href="http://pages.github.com">Hosted by GitHub</a>
</div>

<div style="font-size: 0.8em; text-align: center; margin-top: 1em; margin-bottom: 1em;">
<a href="/disclaimer.html">Disclaimer</a>
</div>
<!-- end of footer --> 
